<ul class="list-group mb-1">
    {% for error in form.non_field_errors %}
    <li class="list_group_item list_group_item_danger">{{ error|escape }}</li>
    {% endfor %}
    {% for field in form %}
       {% for error in field_errors %}
          <li class="list_group_item list_group_item_danger">{{ error|escape }}</li>
       {% endfor %}
    {% endfor %}
</ul>

{% for field in form %}
<div class="mb-3">
    <label class="form-label">{{ field.label }}</label>
    {{ field }}
</div>
{% endfor %}